{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid py-4">
    <div class="card">
        <div class="card-header pb-0 text-center">
            <h4>{{ titulo }}</h4>
            <p class="text-sm">Edita los permisos para el rol <strong>"{{ role_name }}"</strong>.</p>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                {# Seccion de Nombre Del Rol #}
                <div class="mb-4">
                    <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>

                    <div class="input-group input-group-outline my-3">
                        {% render_field form.name class="form-control" %}
                    </div>

                    {% for error in form.name.errors %}
                        <div class="text-danger text-sm mt-1">{{ error }}</div>
                    {% endfor %}
                </div>

                {# Sección de Permisos #}
                <div class="mb-3">
                    <label class="form-label d-block">{{ form.permissions.label }}:</label>
                    
                    <div class="row">
                        {% for group_name, permissions_list in grouped_permissions.items %}
                            <div class="col-md-4 mb-4">
                                <h6 class="text-dark text-sm mb-2">{{ group_name }}</h6>
                                <hr class="mt-0 mb-2">
                                
                                {% for perm in permissions_list %}
                                    <div class="form-check">
                                        <input type="checkbox" 
                                               name="permissions" 
                                               value="{{ perm.value }}"
                                               id="{{ perm.id_for_label }}"
                                               {% if perm.is_selected %}checked{% endif %}
                                               class="form-check-input">
                                        
                                        <label class="form-check-label" for="{{ perm.id_for_label }}">
                                            {{ perm.label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    
                    {% for error in form.permissions.errors %}
                        <div class="text-danger text-sm mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    <a href="{% url 'index_roles' %}" class="btn btn-secondary">Cancelar</a>
                </div> 

            </form>
        </div>
    </div>
</div>
{% endblock %}